body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik Light";

}

p {
  font-size: 14px;
  font-family: "Rubik Semi Bold";
  color: hsl(236, 100%, 87%);

}

span {
  font-size: 18px;
  font-family: "Rubik Semi Bold";
}

h4 {
  font-size: 16px;
  color: hsl(236, 100%, 87%);
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik Light";
  src: url(/fonts/Rubik-Light.ttf);
}

@font-face {
  font-family: "Rubik Semi Bold";
  src: url(/fonts/Rubik-SemiBold.ttf);
}


.contentGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr auto auto auto auto auto 1fr;
  gap: 2rem;

}

.timeframe-button {
  background: none;
  border: none;
  color: hsl(235, 45%, 61%);
  /* Adjust color as needed */
  font-size: 16px;
  cursor: pointer;
  outline: none;
  /* Remove outline on focus */
  text-align: start;
  margin-left: 2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.ellipsesBtn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  fill: hsl(235, 45%, 61%);
}

.ellipsesBtn:hover {
  fill: white;
}



.timeframe-button:hover {
  color: white;
}

.Jeremy {
  grid-column: 2;
  grid-row: 2 / span 3;
}

.jeremyLogo {
  height: 79px;
  width: 79px;
  border-radius: 50%;
  /* Make the image circular */
  border: 4px solid white;
  margin-left: 2rem;
  margin-top: 2rem;
}

.jeremyText {
  margin: 2rem;
}

.jeremyLayer1 {
  background-color: hsl(235, 70%, 59%);
  height: 22rem;
  width: 16rem;
  border-radius: 1rem;
}

.jeremyLayer2 {
  grid-column: 2;
  grid-row: 2 / span 3;
  background-color: hsl(235, 46%, 20%);
  height: 32rem;
  width: 16rem;
  border-radius: 1rem;
  align-self: end;
}


.work {
  grid-column: 3;
  grid-row: 2;

}

.workLayer1 {
  position: relative;
  background-color: hsl(15, 100%, 70%);
  display: flex;
  flex-direction: column-reverse;
  height: 15rem;
  width: 16rem;
  border-radius: 1.1rem;
  overflow: hidden;



}

.workLayer2 {
  position: relative;
  background-color: hsl(235, 46%, 20%);
  height: 12rem;
  width: 16rem;
  border-radius: 1rem;
}

.workLayer2:hover {
  background-color: hsl(235, 45%, 61%);
}

.workText {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column
}

.ellipses {
  margin-left: 8rem;
}


.exerciseEllipses {
  margin-left: 6rem;
}

.studyEllipses {
  margin-left: 8rem;
}

.socialEllipses {
  margin-left: 8rem;
}

.selfCareEllipses {
  margin-left: 8rem;
}



.selfCareeEllipses {
  left: 1rem;
  flex: 0%;
}

.container {
  margin: 1rem;
}

.selfCareContainer {
  display: flex;
  margin: 1rem;
  text-wrap: nowrap;
}

.cardTextSpacing {
  margin-top: 1rem;
  font-size: 4rem;
}


.workIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 79px;
  margin-right: 10px;
  margin-top: -5px;
}


.play {
  grid-column: 4;
  grid-row: 2;
}

.playLayer1 {
  position: relative;
  background-color: hsl(195, 74%, 62%);
  display: flex;
  flex-direction: column-reverse;
  height: 15rem;
  width: 16rem;
  border-radius: 1.1rem;
  overflow: hidden;

}

.playLayer2 {
  position: relative;
  background-color: hsl(235, 46%, 20%);
  height: 12rem;
  width: 16rem;
  border-radius: 1rem;

}

.playLayer2:hover {
  background-color: hsl(235, 45%, 61%);
}

.playText {
  margin: 2rem;
}

.playIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 79px;
  margin-right: 15px;
  margin-top: -5px;
  /* display: flex;
  justify-content: flex-end; */
}


.study {
  grid-column: 5;
  grid-row: 2;
}

.studyLayer1 {
  position: relative;
  background-color: hsl(348, 100%, 68%);
  display: flex;
  flex-direction: column-reverse;
  height: 15rem;
  width: 16rem;
  border-radius: 1.1rem;
  overflow: hidden;

}

.studyLayer2 {
  position: relative;
  background-color: hsl(235, 46%, 20%);
  height: 12rem;
  width: 16rem;
  border-radius: 1rem;

}

.studyLayer2:hover {
  background-color: hsl(235, 45%, 61%);
}

.studyText {
  margin: 2rem;
}

.studyIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 79px;
  margin-right: 15px;
  margin-top: -5px;
}

.exercise {
  grid-column: 3;
  grid-row: 3;
}

.exerciseLayer1 {
  position: relative;
  background-color: hsl(145, 58%, 55%);
  display: flex;
  flex-direction: column-reverse;
  height: 15rem;
  width: 16rem;
  border-radius: 1.1rem;
  overflow: hidden;

}

.exerciseLayer2 {
  position: relative;
  background-color: hsl(235, 46%, 20%);
  height: 12rem;
  width: 16rem;
  border-radius: 1rem;

}

.exerciseLayer2:hover {
  background-color: hsl(235, 45%, 61%);
}

.exerciseText {
  margin: 2rem;
}

.exerciseIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 79px;
  margin-right: 15px;
  margin-top: -5px;
}

.social {
  grid-column: 4;
  grid-row: 3;
}

.socialLayer1 {
  position: relative;
  background-color: hsl(264, 64%, 52%);
  display: flex;
  flex-direction: column-reverse;
  height: 15rem;
  width: 16rem;
  border-radius: 1.1rem;
  overflow: hidden;

}

.socialLayer2 {
  position: relative;
  background-color: hsl(235, 46%, 20%);
  height: 12rem;
  width: 16rem;
  border-radius: 1rem;

}

.socialLayer2:hover {
  background-color: hsl(235, 45%, 61%);
}

.socialText {
  margin: 2rem;
}

.socialIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 79px;
  margin-right: 15px;
  margin-top: -15px;
}


.self-care {
  grid-column: 5;
  grid-row: 3;
}

.selfCareLayer1 {
  position: relative;
  background-color: hsl(43, 84%, 65%);
  display: flex;
  flex-direction: column-reverse;
  height: 15rem;
  width: 16rem;
  border-radius: 1.1rem;
  overflow: hidden;

}

.selfCareLayer2 {
  position: relative;
  background-color: hsl(235, 46%, 20%);
  height: 12rem;
  width: 16rem;
  border-radius: 1rem;

}

.selfCareLayer2:hover {
  background-color: hsl(235, 45%, 61%);
}

.selfCareText {
  margin: 2rem;
}

.selfCareIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 79px;
  margin-right: 10px;
  margin-top: -15px;
}

@media screen and (max-width: 375px) {
  .contentGrid {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr;
    gap: 2rem;

  }

  .cardTextSpacing {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .jeremyLayer1 {
    height: 10rem;
    width: 22rem;
    border-radius: 1rem;
    flex-direction: row;
  }

  .btnrow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Optional: adds space between buttons */
    justify-content: space-evenly;
    /* Optional: centers buttons horizontally */
    align-items: center;
    /* Optional: centers buttons vertically */
    margin-top: 1rem;
  }

  .jeremyLogo {
    height: 79px;
    width: 79px;
    border-radius: 50%;
    /* Make the image circular */
    border: 4px solid white;
    margin-left: 2rem;
    margin-top: 2rem;
  }


  .jeremyText {
    margin-left: 8rem;
    margin-top: -4rem;
    text-wrap: nowrap;
  }

  .jeremyText p {
    margin: 0;
  }

  .workText {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ellipses {
    margin-left: 14rem;
  }

  .studyEllipses {
    margin-left: 13rem;
  }

  .exerciseEllipses {
    margin-left: 12rem;
  }


  .socialEllipses {
    margin-left: 13rem;
  }

  .selfCareEllipses {
    margin-left: 12rem;
  }

  .container {
    margin: 1rem;

  }

  .selfCareContainer {
    display: flex;
    margin: 1rem;
    text-wrap: nowrap;
  }


  .timeframe-button {
    margin: 0;
  }

  .jeremyLayer2 {
    grid-column: 1;
    grid-row: 2;
    background-color: hsl(235, 46%, 20%);
    height: 14rem;
    width: 22rem;
    border-radius: 1rem;
    align-self: end;
  }

  .Jeremy {
    grid-column: 1;
    grid-row: 1;
    margin: 2rem;
  }

  .work {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;

  }

  .play {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
  }

  .study {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: center;
  }

  .exercise {
    grid-column: 1;
    grid-row: 5;
    display: flex;
    justify-content: center;
  }

  .social {
    grid-column: 1;
    grid-row: 6;
    display: flex;
    justify-content: center;
  }

  .self-care {
    grid-column: 1;
    grid-row: 7;
    display: flex;
    justify-content: center;
  }

  .workLayer1 {
    height: 11rem;
    width: 22rem;

  }

  .workLayer2 {
    height: 8rem;
    width: 22rem;

  }

  .playLayer1 {
    height: 11rem;
    width: 22rem;
  }

  .playLayer2 {
    height: 8rem;
    width: 22rem;
  }

  .studyLayer1 {
    height: 11rem;
    width: 22rem;

  }

  .studyLayer2 {
    height: 8rem;
    width: 22rem;

  }

  .exerciseLayer1 {
    height: 11rem;
    width: 22rem;

  }

  .exerciseLayer2 {
    height: 8rem;
    width: 22rem;

  }

  .socialLayer1 {
    height: 11rem;
    width: 22rem;

  }

  .socialLayer2 {
    height: 8rem;
    width: 22rem;

  }

  .selfCareLayer1 {
    height: 11rem;
    width: 22rem;

  }

  .selfCareLayer2 {
    height: 8rem;
    width: 22rem;

  }

  h4 {
    text-align: right;
    margin-top: -2rem;
    margin-right: 2rem;
  }





}